/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik+Doodle+Shadow&display=swap');

/* asterisk selector override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic style */
    color: #3a3a3a;
    font-family:'Times New Roman', Times, serif
}


/* header style */
header {
    background-color: white;
    background-image: url("assets\images\karaokê.jpg") ;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header a {
    text-decoration: none;
    color: inherit;

}
#logo {
    font-family: 'Pacifico', sans-serif;
}
#sub-logo {
    font-family: 'Rubik Doodle Shadow', sans-serif;
}
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style: none;
    border-bottom: 2px  solid;
}
nav {
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 2rem;
}


/* main style */
main {
    background-color: wheat;
    flex: 1 0 auto;
    margin-top: 47px;
}

/* footer style */
footer {
    background-color: white;
}