/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik+Doodle+Shadow&display=swap');

/* asterisk selector override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic style */
    color: #3a3a3a;
    font-family:'Times New Roman', Times, serif;
    background-color: whitesmoke;
}


/* header style */
header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    background-color: black;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header a {
    text-decoration: none;
    color: inherit;

}
h1 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    color: #252525;
}
#logo {
    font-family: 'Pacifico', sans-serif;
    color: white;
}
#sub-logo {
    font-family: 'Rubik Doodle Shadow', sans-serif;
    color: white;
}
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style: none;
    border-bottom: 2px  solid;
}
#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}
nav {
    color: white;
    position: absolute;
    background-color: black;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 2rem;
}


/* main style */
#hero {
    height: 600px;
    width: 100%;
    background-image: url(../images/karaoke2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    position: relative;
}
.first-page {
    flex: 1 0 auto;
    color: black;
    text-align: center;
    margin-top: 47px;
}
.first-page > section {
    background-color: rgb(156, 163, 173);
}
#description {
    height: 200px;
    position: absolute;
    bottom: 2px;
    text-align: center;
    background-color: rgb(237, 85, 88);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    padding: 40px;
    border-radius: 4px;
    opacity: .9;
}
#description > div > h2 {
    font-size: 220%;
    font-style: italic;
    padding: 20px;
}
#location {
    height: fit-content;
}
/* schedule page style */
#second-page {
    color:white;
    flex: 1 0 auto;
    margin-top: 47px;
    text-align: center;
}    
#schedule > h2 {
    color:black;
    font-size: 280%;
}
#schedule > div {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#schedule > div > div {
    background-color: rgba(0, 0, 0, .6);
    text-align: center;
    padding: 10px;
    margin: 10px;
}
#rock {
    background-image: url("../images/rock.jpg");
}
#samba {
    background-image: url("../images/samba.jpg");
}
#party {
    background-image: url("../images/party.jpg");
}
#pop {
    background-image: url("../images/pop.jpg");
}
/*signup page style*/
.third-page {
    margin-top: 10%;
    height: 100vh;
    text-align: center;
}
#signup {
    margin: 10%;
    padding: 10%;
    background-color: rgb(156, 163, 173);
    color:black;
}
.input {
    border-radius: 4px;
}
/*thanks page style*/
#thanks {
    font-size: 200%;
    text-align: center;
    margin: 10%;
    padding: 10%;
    background-color: rgb(156, 163, 173);
    border-radius: 4px;
}


/* footer style */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#social-networks i {
    font-size: 160% ;
    padding: 5%;
    color: black;
}
/*media query small devices*/
@media screen and (min-width: 768px) {
    /*header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }
    #menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 200%;
        margin: 0 0.5rem;
    }
    #sub-logo {
        font-size: 200%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    .first-page {
        margin-top: 79px;
        color:black
    }
    #iframe {
        display: block;
    }
}
footer {
    background-color: bisque;
}
/* media query large devices */
@media screen and (min-width: 820px) {
    #menu a:hover {
border-bottom: 1px solid #3a3a3a;
    }
    .first-page > section {
        height: 10rem;
        font-size: 1.5rem;
        margin: 2%;
        border-radius: 4px;
    }
    .first-page > section > div {
        margin: 20px;
    }  
    #second-page > section {
        font-size: 1.5rem;
        margin: 10%;
    }    
}